
body {
	background: #00256B;
	background-image: url(images/bg.jpg);
	background-attachment:fixed;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	width: 858px;
	margin:auto;
}

a, table {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 12px;
}

a:hover {
	color: #BED4FF;
}

img {
	border:0;
}

thead th {
  text-align:left;
}
